{% extends "index.html" %}
{% load comments %}
{% block page-content %}


<div class="contents">
    标题:{{ bbs_obj.title }}
    <br>
    内容:{{ bbs_obj.content }}
</div>
<hr>

<div>
    {% get_comment_count for bbs_obj as comment_count %}
    <span class="glyphicon glyphicon-comment"></span>
    {{ comment_count }}
</div>
<br>

<form action="/bbs/sub_comment/" method="POST">
    <textarea cols="80" rows="3" name="comment_content"></textarea>
    <input type="hidden" name="bbs_id" value="{{ bbs_obj.id }}">
    <input type="submit" value="评论" id="id_submit">

</form>


{% get_comment_list for bbs_obj as comment_list %}
{% for comment in comment_list reversed %}
    {{ comment.submit_date }}
    <br>
    {{ comment.comment }}
    <hr>
{% endfor %}
{% endblock %}